Q1. How do you comment code in Python? What are the different types of comments?

Ans : There are two types of comments:

single-line comment(#)
multi-line comment(""" """)

In [1]:
"""
this 
is 
my 
multi-line 
comment
"""
print("anjana")

anjana

Q2. What are variables in Python? How do you declare and assign values to variables?

Ans : Variable is a name that is used to refer to memory location. There are many types of variable :- (i) integer (ii) float (iii) string (iv) bool (v) complex

In [2]:
a =20
print(a)
type(a)

20

int

In [3]:
b = 4.5
print(b)
type(b)

4.5

float

In [4]:
c= "Anjana"
print(c)
type(c)

Anjana

str

In [5]:
d = True
print(d)
type(d)

True

bool

In [6]:
e = 6+7j
print(e)
type(e)

(6+7j)

complex

Q3. How do you convert one data type to another in Python?

In [7]:
# int to float
a = 10

b = float(a)
print(b)


#tuple to list
c = (7,8,9)
e = list(c)
print(e)

10.0
[7, 8, 9]

Q4. How do you write and execute a Python script from the command line?

In [8]:
#myscript.py
print("Hello, WORLD ")

Hello, WORLD

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [9]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [10]:
#It consists of two values, the first one is the real part of the complex number, and the second one is the imaginary part of the complex number.

a = 6+8j
print(a)


print(a.real)
print(a.imag)

(6+8j)
6.0
8.0

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [11]:
age = 25
print("Age :",age)

Age : 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [12]:
price = 9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [13]:
name = "Anjana Kumari Sinha"
print(name)

Anjana Kumari Sinha

Q10. Given the string "Hello, World!", extract the substring "World".

In [14]:
str = "Hello, World!"
sub_str = str[7:12]
print(sub_str)

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [15]:
is_student = True
print(is_student)

True